@model TurismoReal.Negocio.ItemsDepto


@{
    ViewBag.Title = "Create";
}

<h2>Agregar Items a un Depto</h2>
@Html.ActionLink("Ver listado ItemsDepto","Index")
@using (Html.BeginForm())
{
    @Html.LabelFor(i => i.IdItem)
    @Html.TextBoxFor(i => i.IdItem)
    <br />
    @Html.LabelFor(i => i.IdDepto)
    @Html.TextBoxFor(i => i.IdDepto)
    <br />
    @Html.LabelFor(i => i.Descripcion)
    @Html.TextBoxFor(i => i.Descripcion)
    <br />
    @Html.LabelFor(i => i.Valor)
    @Html.TextBoxFor(i => i.Valor)
    <br />
    <button>Guardar</button>
}

