
@{
    ViewBag.Title = "Index";
}


<h2>Bienvenido a Turismo Real</h2>

<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de Deptos", "Index", "Deptos")</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear Depto", "Create", "Deptos")</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Listado de ItemsDepto", "Index", "ItemsDepto")</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear item para un Depto", "Create", "ItemsDepto")</button>
</ul>

@*<button type="button" class="btn btn-primary">@Html.ActionLink("Botonsito", "Index", "ItemsDepto")</button>*@