
@{
    ViewBag.Title = "Index";
}


<h2>Bienvenido a Turismo Real</h2>

<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de Deptos", "Index", "Deptos", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear Depto", "Create", "Deptos", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de ItemsDepto", "Index", "ItemsDepto", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear item para un Depto", "Create", "ItemsDepto", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de Usuarios", "Index", "Usuario", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear Ususario", "Create", "Usuario", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de Reservas", "Index", "Reserva", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear Reserva", "Create", "Reserva", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de Servicios Extra", "Index", "ServiciosExtra", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear Servicio Extra", "Create", "ServiciosExtra", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de Multas", "Index", "Multas", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear Multa", "Create", "Multas", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de fotos", "Index", "FotoDepto", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Lista de check in", "Index", "CheckIn", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
<ul>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Crear check in", "Create", "CheckIn", new { area = "" }, new { @class = "navbar-brand" })</button>
</ul>
