@model TurismoReal.Negocio.Usuario
@{
    ViewBag.Title = "Modificar";
}

<h2>Editar un Usuario</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.id)
    @Html.LabelFor(p => p.id, "ID")
    @Html.TextBoxFor(p => p.id)
    <br />
    @Html.LabelFor(p => p.email, "Email")
    @Html.TextBoxFor(p => p.email)
    <br />
    @Html.LabelFor(p => p.tipo_cuenta, "Tipo de cuenta")
    @Html.TextBoxFor(p => p.tipo_cuenta)
    <br />
    @Html.LabelFor(p => p.pNombre, "Nombre")
    @Html.TextBoxFor(p => p.pNombre)
    <br />
    @Html.LabelFor(p => p.sNombre, "Segundo Nombre")
    @Html.TextBoxFor(p => p.sNombre)
    <br />
    @Html.LabelFor(p => p.pApellido, "Apellido")
    @Html.TextBoxFor(p => p.pApellido)
    <br />
    @Html.LabelFor(p => p.sApellido, "Segundo Apellido")
    @Html.TextBoxFor(p => p.sApellido)
    <br />
    @Html.LabelFor(p => p.rut, "Rut")
    @Html.TextBoxFor(p => p.rut)
    <br />
    @Html.LabelFor(p => p.dVer, "Digito Verificador")
    @Html.TextBoxFor(p => p.dVer)
    <br />
    @Html.LabelFor(p => p.cargo, "Cargo")
    @Html.TextBoxFor(p => p.cargo)
    <br />
    <button>Modificar</button>

}

