@model TurismoReal.Negocio.CheckIn

    ViewBag.Title = "Edit";
}

<h2>Modificar Item de un CheckIn</h2>
@Html.ActionLink("Ver listado CheckIn", "Index")
@using (Html.BeginForm())
{

    @Html.HiddenFor(i => i.IdCheckIn)
    @Html.LabelFor(i => i.IdCheckIn)
    @Html.TextBoxFor(i => i.IdCheckIn)
    <br />
    @Html.LabelFor(i => i.IdDepto)
    @Html.TextBoxFor(i => i.IdDepto)
    <br />
    @Html.LabelFor(i => i.IdPago)
    @Html.TextBoxFor(i => i.IdPago)
    <br />
    @Html.LabelFor(i => i.IdServicio)
    @Html.TextBoxFor(i => i.IdServicio)
    <br />
    @Html.LabelFor(i => i.DocumentoAceptacion)
    @Html.TextBoxFor(i => i.DocumentoAceptacion)
    <br />
    <button>Editar</button>
}