@using TurismoReal.Negocio;
@{
    ViewBag.Title = "Index";
}

<h2>Lista Multas</h2>

@{ List<Multas> multas = (List<Multas>)ViewBag.multas; }
@Html.ActionLink("Crear multa","Create")
<table>
    <tr>
        <th>Id Multa</th>
        <th>Detalle</th>
        <th>Valor</th>
        <th>Opciones</th>
    </tr>
    @foreach(var multa in multas)
            {
                <tr>
                    <td>@multa.Id</td>
                    <td>@multa.Detalle</td>
                    <td>@multa.ValorMulta</td>
                    <td>
                        @Html.ActionLink("Eliminar","Delete", new { id = multa.Id})
                        @Html.ActionLink("Editar","Edit", new { id = multa.Id})
                    </td>
                </tr>
            }


</table>

@TempData["mensaje"]

