@model TurismoReal.Negocio.Multa
@{
    ViewBag.Title = "Create";
}

<h2>Agregar nueva multa</h2>

@Html.ActionLink("Ver listado de multa", "IndexMulta")
@using (Html.BeginForm())
{
    @Html.LabelFor(i => i.IdMulta)
    @Html.TextBoxFor(i => i.IdMulta)
    <br />
    @Html.LabelFor(i => i.Detalle)
    @Html.TextBoxFor(i => i.Detalle)
    <br />
    @Html.LabelFor(i => i.ValorMulta)
    @Html.TextBoxFor(i => i.ValorMulta)
    <br />

    <button>Guardar</button>
}
