@model TurismoReal.Negocio.Multa
@{
    ViewBag.Title = "Edit";
}

<h2>Modificar Item de un Depto</h2>
@Html.ActionLink("Ver Multa", "Index")
@using (Html.BeginForm())
{

    @Html.HiddenFor(i => i.IdMulta)
    @Html.LabelFor(i => i.IdMulta)
    @Html.TextBoxFor(i => i.IdMulta)
    <br />
    @Html.LabelFor(i => i.Detalle)
    @Html.TextBoxFor(i => i.Detalle)
    <br />
    @Html.LabelFor(i => i.ValorMulta)
    @Html.TextBoxFor(i => i.ValorMulta)
    <br />
  
    <button>Editar</button>
}

