@using TurismoReal.Negocio;
@{
    ViewBag.Title = "Multa";
}
<h2>Multa</h2>


@{ List<Multa> multas = (List<Multa>)ViewBag.multas;}
@Html.ActionLink("Crear Item para un Depto", "Create")

<table>
    <tr>
        <th>IdMulta</th>
        <th>Detalle</th>
        <th>ValorMulta</th>
        <th>Opciones</th>

    </tr>
    @foreach (var multa in multas)

    {
        <tr>
            <td>@multa.IdMulta</td>
            <td>@multa.Detalle</td>
            <td>@multa.ValorMulta</td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = multa.IdMulta })
                @Html.ActionLink("Editar", "Edit", new { id = multa.IdMulta })
            </td>
        </tr>
    }
</table>

@TempData["mensaje"]
